# Android / Gradle
*.iml
.gradle/
/local.properties
/.idea/
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
.externalNativeBuild
.env

# Keys & secrets — NEVER commit these
google-services.json
*.keystore
*.jks
secrets.properties

# OS
.DS_Store
Thumbs.db

scripts/serviceAccount.json
scripts/node_modules/
